Repository jenkinsci/platformlabeler-plugin, pull requests merged in 2019-10, with the labels that each got.

#101 Add scientific linux
  README.md
  pom.xml
  src/main/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTask.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTaskLsbReleaseTest.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTaskReleaseTest.java
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/centos/7/os-release
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/generate_os_release_output.sh
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/generate_release_output.sh
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/oraclelinux/6.10/os-release
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/registry.access.redhat.com/rhel7/rhel/7.7/redhat-release
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/registry.access.redhat.com/ubi8/ubi-minimal/8.0/redhat-release
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/scientific/6.10/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/scientific/6.10/lsb_release-a
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/scientific/6.10/redhat-release
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/scientific/7.7/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/scientific/7.7/lsb_release-a
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/scientific/7.7/os-release
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/scientific/7.7/redhat-release
Labels: hacktoberfest

#102 [JENKINS-59479] Support Red Hat Enterprise Linux
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Jenkinsfile
  README.md
  pom.xml
  src/main/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTask.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTaskLsbReleaseTest.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTaskReleaseTest.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTaskTest.java
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/centos/7.7.1908/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/generate_release_output.sh
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/registry.access.redhat.com/ubi8/ubi/8.0/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/registry.access.redhat.com/ubi8/ubi/8.0/lsb_release-a
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/registry.access.redhat.com/ubi8/ubi/8.0/os-release
Labels: feature, hacktoberfest

#103 Improve README with additional columns, less data
  README.md
Labels: documentation

#104 [JENKINS-17904] Allow to configure labels per node
  README.md
  src/main/java/org/jvnet/hudson/plugins/platformlabeler/LabelConfig.java
  src/main/java/org/jvnet/hudson/plugins/platformlabeler/NodeLabelCache.java
  src/main/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetails.java
  src/main/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTask.java
  src/main/java/org/jvnet/hudson/plugins/platformlabeler/PlatformLabelerGlobalConfiguration.java
  src/main/java/org/jvnet/hudson/plugins/platformlabeler/PlatformLabelerNodeProperty.java
  src/main/resources/org/jvnet/hudson/plugins/platformlabeler/LabelConfig/config.jelly
  src/main/resources/org/jvnet/hudson/plugins/platformlabeler/LabelConfig/help-architecture.html
  src/main/resources/org/jvnet/hudson/plugins/platformlabeler/LabelConfig/help-architectureName.html
  src/main/resources/org/jvnet/hudson/plugins/platformlabeler/LabelConfig/help-architectureNameVersion.html
  src/main/resources/org/jvnet/hudson/plugins/platformlabeler/LabelConfig/help-name.html
  src/main/resources/org/jvnet/hudson/plugins/platformlabeler/LabelConfig/help-nameVersion.html
  src/main/resources/org/jvnet/hudson/plugins/platformlabeler/LabelConfig/help-version.html
  src/main/resources/org/jvnet/hudson/plugins/platformlabeler/PlatformLabelerGlobalConfiguration/config.jelly
  src/main/resources/org/jvnet/hudson/plugins/platformlabeler/PlatformLabelerNodeProperty/config.jelly
  src/main/webapp/help-globalConfig.html
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/ConfigurationTest.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTaskLsbReleaseTest.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTaskReleaseTest.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTaskStaticStringTest.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTaskTest.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformLabelerTest.java
Labels: feature, hacktoberfest

#105 Fix checkstyle warnings from recent changes
  src/main/java/org/jvnet/hudson/plugins/platformlabeler/LabelConfig.java
  src/main/java/org/jvnet/hudson/plugins/platformlabeler/NodeLabelCache.java
  src/main/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetails.java
  src/main/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTask.java
  src/main/java/org/jvnet/hudson/plugins/platformlabeler/PlatformLabelerGlobalConfiguration.java
Labels: no-changelog

#106 [JENKINS-59480] support for SUSE
  README.md
  pom.xml
  src/main/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTask.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTaskLsbReleaseTest.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTaskReleaseTest.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTaskTest.java
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/sles/11.3/SuSE-release
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/sles/11.3/lsb_release-a
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/sles/12.1/SuSE-release
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/sles/12.1/lsb_release-a
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/sles/12.1/os-release
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/sles/12.3/lsb_release-a
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/sles/12.3/os-release
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/sles/12.4/lsb_release-a
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/sles/12.4/os-release
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/sles/15/lsb_release-a
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/sles/15/os-release
Labels: feature, hacktoberfest

#107 Prepare dependencies for 5.0 release
  .pre-commit-config.yaml
  README.md
  pom.xml
  src/main/resources/org/jvnet/hudson/plugins/platformlabeler/LabelConfig/help-architecture.html
  src/main/resources/org/jvnet/hudson/plugins/platformlabeler/LabelConfig/help-architectureName.html
  src/main/resources/org/jvnet/hudson/plugins/platformlabeler/LabelConfig/help-architectureNameVersion.html
  src/main/resources/org/jvnet/hudson/plugins/platformlabeler/LabelConfig/help-name.html
  src/main/resources/org/jvnet/hudson/plugins/platformlabeler/LabelConfig/help-nameVersion.html
  src/main/resources/org/jvnet/hudson/plugins/platformlabeler/LabelConfig/help-version.html
Labels: dependencies

#113 Update dependencies
  .mvn/extensions.xml
  pom.xml
Labels: dependencies

#114 [JENKINS-59780] Support Raspbian Linux
  README.md
  src/main/java/org/jvnet/hudson/plugins/platformlabeler/LsbRelease.java
  src/main/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTask.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTaskLsbReleaseTest.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTaskReleaseTest.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTaskTest.java
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/raspbian/10/lsb_release-a
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/raspbian/10/os-release
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/raspbian/9.11/lsb_release-a
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/raspbian/9/os-release
Labels: feature

#115 Convert several tests to use JUnit 5
  pom.xml
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTaskLsbReleaseTest.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTaskReleaseTest.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTaskStaticStringTest.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTaskTest.java
Labels: test

#118 Refactor PlatformDetailsTask for test coverage
  src/main/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTask.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTaskTest.java
Labels: test
