Repository jenkinsci/platformlabeler-plugin, pull requests merged in 2022-10, with the labels that each got.

#781 End support for ppc64le
  Jenkinsfile
  README.md
Labels: chore, documentation

#782 Require Java 11 and Jenkins 2.361.1 or newer
  .github/workflows/jenkins-security-scan.yml
  Jenkinsfile
  pom.xml
Labels: feature

#794 [JENKINS-69814] Assign Debian unstable a valid release
  src/main/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTask.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTaskLsbReleaseTest.java
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/debian/testing/os-release
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/debian/unstable/lsb_release-a
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/debian/unstable/os-release
Labels: bugfix

#801 chore(Jenkinsfile): try the Artifact Caching Proxy
  Jenkinsfile
Labels: chore
