Repository jenkinsci/platformlabeler-plugin, pull requests merged in 2022-06, with the labels that each got.

#666 Add Oracle Linux 8.6
  README.md
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/oraclelinux/8.6/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/oraclelinux/8.6/lsb_release-a
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/oraclelinux/8.6/os-release
Labels: documentation, test

#667 Remove Debian 9 and Raspbian 9
  README.md
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTaskTest.java
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/debian/8/os-release
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/debian/9.13/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/debian/9.13/lsb_release-a
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/debian/9/os-release
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/raspbian/9.11/lsb_release-a
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/raspbian/9/os-release
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/update_dependabot.sh
Labels: documentation, test

#668 Add os-release test data for Amazon Linux 2022
  .github/dependabot.yml
  README.md
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/amzn/2022/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/amzn/2022/os-release
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/generate_lsb_release_output.sh
Labels: chore, documentation, test

#674 chore: use jenkins infra maven cd reusable workflow
  .github/workflows/cd.yaml
Labels: chore

#688 Update container images
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/debian/10/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/ubuntu/18.04/Dockerfile
Labels: test
