Repository jenkinsci/platformlabeler-plugin, pull requests merged in 2022-07, with the labels that each got.

#703 Gitpod configuration improvements
  .gitpod.Dockerfile
  .gitpod.yml
Labels: chore

#704 Simplify JUnit 5 dependency
  pom.xml
Labels: test

#705 Revert "Simplify JUnit 5 dependency"
  pom.xml
Labels: test

#706 Simplify JUnit dependencies
  pom.xml
Labels: test

#712 Use JUnit 5 bill of materials for versions
  pom.xml
Labels: test

#714 Update test data and documentation
  .github/dependabot.yml
  README.md
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTest.java
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/almalinux/8.5/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/almalinux/8.6/os-release
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.13.10/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.13.11/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.13.11/os-release
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.14.6/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.14.7/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.14.7/os-release
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.15.4/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.15.5/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.15.5/os-release
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.16.1/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.16.1/os-release
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/fedora/36/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/fedora/36/lsb_release-a
Labels: chore, documentation, test

#715 Use latest Debian buster test data
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/debian/10/Dockerfile
Labels: test

#720 Remove unnecessary dependencies
  pom.xml
Labels: chore

#721 Gitpod config fine tuning
  .gitpod.yml
Labels: chore
