Repository jenkinsci/platformlabeler-plugin, pull requests merged in 2023-04, with the labels that each got.

#981 Format code with Palantir Java Format
  pom.xml
  src/main/java/org/jvnet/hudson/plugins/platformlabeler/LsbRelease.java
  src/main/java/org/jvnet/hudson/plugins/platformlabeler/NodeLabelCache.java
  src/main/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetails.java
  src/main/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTask.java
  src/main/java/org/jvnet/hudson/plugins/platformlabeler/WindowsRelease.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/ConfigurationTest.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/LabelConfigTest.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/LsbReleaseFakeFileTest.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/NodeLabelCacheTest.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsCheckRolesTest.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTaskLsbReleaseTest.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTaskReleaseTest.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTaskStaticStringTest.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTaskTest.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTaskWindowsReleaseTest.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTest.java
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformLabelerTest.java
Labels: chore

#982 Update test data
  .github/dependabot.yml
  README.md
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.14.10/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.14.10/os-release
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.14.9/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.15.7/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.15.8/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.15.8/os-release
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.16.4/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.16.5/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.16.5/os-release
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.17.2/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.17.3/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.17.3/os-release
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/clearlinux/38640/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/clearlinux/38640/os-release
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/opensuse-tumbleweed/20230330/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/opensuse-tumbleweed/20230330/os-release
Labels: chore, documentation, test

#986 Require Jenkins 2.375.4 or newer
  pom.xml
Labels: enhancement
