Repository jenkinsci/platformlabeler-plugin, pull requests merged in 2024-07, with the labels that each got.

#1389 [JENKINS-72224] Trigger node updates when refreshing platform labels
  src/main/java/org/jvnet/hudson/plugins/platformlabeler/NodeLabelCache.java
Labels: bug

#1391 JENKINS-72224 Prevent deadlock when `onConfigurationChange()` is called frequently
  src/main/java/org/jvnet/hudson/plugins/platformlabeler/NodeLabelCache.java
Labels: bug

#1394 Remove unused pmd configuration from pom file
  pom.xml
Labels: chore

#1406 Test with Alpine 3.18.8
  .github/dependabot.yml
  README.md
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTest.java
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.18.7/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.18.8/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.18.8/os-release
Labels: skip-changelog, documentation, tests

#1407 Test with Alpine 3.19.3
  .github/dependabot.yml
  README.md
  src/test/java/org/jvnet/hudson/plugins/platformlabeler/PlatformDetailsTest.java
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.19.2/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.19.3/Dockerfile
  src/test/resources/org/jvnet/hudson/plugins/platformlabeler/alpine/3.19.3/os-release
Labels: skip-changelog, documentation, tests

#1413 Require Jenkins 2.440.3 or newer
  pom.xml
Labels: dependencies, chore
